localhost {
    root * /srv/client
    file_server

    # proxy sprites/audio to Smogon's CDN (too large to self-host)
    handle /sprites/* {
        reverse_proxy https://play.pokemonshowdown.com {
            header_up Host play.pokemonshowdown.com
        }
    }
    handle /audio/* {
        reverse_proxy https://play.pokemonshowdown.com {
            header_up Host play.pokemonshowdown.com
        }
    }

    handle /showdown/* {
        reverse_proxy ps-server:8000
    }
    handle /api/* {
        reverse_proxy login:3001
    }
}
